body{
   
    background-color: #032841;
    font-family: 'Roboto Mono', monospace;
   
}



.navbar_{
    justify-content: center;
}

.navbar{
    background-color: rgb(43, 40, 40);
    height: 15%;
    padding: 2em 2em .45em;
    
}
.navbar-toggler{
    background-color: rgba(255, 255, 255, 0.233);
    
}

.nav-link{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-item:hover{
    background-color: #fff;
    color: grey

}
.dropdown-item:hover{
    color: #fff;
    background-color: #000;
}
.carousel{
    margin-top: .40em;
    margin-bottom: .40em;
    
}


.container{
    box-shadow: blueviolet 0px 0px 5px 8px;
    border-radius: 5px;
    margin-top: .45em;
    margin-bottom: .25em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    background-color: #fff;
    font-size: 16px;
    
}
.card-text, .card-title{
    text-transform: uppercase;
    font-weight: bold;
}
.card-text:hover, .card-title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.card-text, .card-title{
    text-transform: uppercase;
    font-weight: bold;
}
.card{
    margin: 2%;
    transition: 400ms;
}
.card:hover{
    transform: scale(0.95);
}
.btn-success{
    background-color: #032841;
    
}
.btn-success:hover{
    color: #032841;
    
}
.copy{
    color: #fff;
    margin: 0 auto;
    padding: 0;
    
}

